.MediaCategories-wrapper {
  display: flex;
  background-color: #73460140;
  border-radius: 25px;
  padding: 15px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  max-width: 500px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1000px) {
  .MediaCategories-wrapper {
    flex-direction: row;
  }
}

.MediaCategories-categoryset-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.MediaCategories-categoryset-wrapper > span {
  text-align: center;
}

.MediaCategories-button {
  height: 50px;
  font-size: 15px;
  border: none;
  font-size: 16px;
  margin: 10px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background-color: #f1f3f4;
  color: gray;
  opacity: 0.5;
}

.MediaCategories-enabled {
  color: #734601;
  opacity: 1;
}
