.TabBar-wrapper {
  display: flex;
  flex-direction: row;
  background-color: #73460140;
  border-radius: 20px;
}

.TabBar-arrow-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TabBar-number-wrapper {
  flex: 5;
  display: flex;
  justify-content: center;
}

.TabBar-number {
  background: rgba(0, 0, 0, 0);
  border: none;
  font-size: 16px;
  margin: 0 0.5em;
  color: #734601;
  padding: 0.5em 0.7em;
}

.TabBar-selectedTab {
  font-weight: bold;
}

.TabBar-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
