* {
  box-sizing: border-box;
}

body {
  background-color: #f6efe5;
  color: #734601;
  font-family: "Raleway", sans-serif;
}

button:focus {
  outline: 0;
}

/* Page wrapper*/
.App-wrapper {
  width: 100vw;
  padding: 0.5em 2em;
  margin: auto;

  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 0.5em;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "intro"
    "categories"
    "tabs"
    "art";
}

@media only screen and (min-width: 600px) {
  .App-wrapper {
    display: grid;
    max-width: 80%;
    grid-template-rows: 3em;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "header header"
      "intro intro"
      "tabs tabs"
      "art art"
      "categories categories";
  }
}

@media only screen and (min-width: 800px) {
  .App-wrapper {
    max-width: 60%;
  }
}

/* Grid area wrappers (sections) */

.App-header {
  grid-area: header;
  width: 100%;
  display: flex;
  justify-content: center;
}

.App-intro {
  grid-area: intro;
  width: 100%;
  justify-self: center;
}

.App-categories {
  grid-area: categories;
  width: 100%;
  display: flex;
  justify-content: center;
}

.App-tabs {
  grid-area: tabs;
  width: 100%;
  margin-bottom: 10px;
}

.App-art {
  grid-area: art;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (min-width: 800px) {
  .App-intro {
    padding: 1em 2em;
  }
}

@media only screen and (min-width: 1300px) {
  .App-intro {
    width: 60%;
  }
}

/* Content */

.App-artwork-media {
  grid-area: image;
  margin: auto;
  width: 100%;
  flex-basis: 100%;
  background-color: #f1f3f4;
  border: 10px solid #734601;
  border-radius: 10px;
  min-height: 300px;
}

.App-artwork-poem {
  grid-area: poem;
  width: 30em;
  margin: auto;
  width: 100%;
  flex-basis: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  font-style: italic;
}

.App-artwork-music {
  margin: 20px;
  padding: 2px;
}

.App-artwork-poem > pre {
  white-space: pre-wrap;
  font-family: inherit;
}

@media only screen and (min-width: 1000px) {
  .App-artwork-media {
    flex-basis: 50%;
  }

  .App-artwork-poem {
    flex-basis: 50%;
  }
}
