* {
  box-sizing: border-box;
}

body {
  background-color: #c4dac9;
  font-family: 'Raleway', sans-serif
}

/* Page wrapper*/
.App-wrapper {
  width: 100vw;
  padding: 2em;
  margin: auto;

  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 0.5em;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "intro"
    "categories"
    "showbutton"
    "tabs"
    "art"
    "music";
}

@media only screen and (min-width: 1000px) {
  .App-wrapper {
    display: grid;
    max-width: 50%;
    grid-template-rows: repeat(1fr, 5);
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "header header"
      "intro intro"
      "tabs tabs"
      "art art"
      "categories showbutton";
  }
}
/* Grid area wrappers */

.App-header {
  grid-area: header;
  width: 100%;
  background-color: red;
}

.App-intro {
  grid-area: intro;
  width: 100%;
  background-color: blue;
}

.App-categories {
  grid-area: categories;
  width: 100%;
  background-color: orange;
}

.App-show-button {
  grid-area: showbutton;
  width: 100%;
  background-color: purple;
}

.App-tabs {
  grid-area: tabs;
  width: 100%;
  background-color: pink;
}

.App-art {
  grid-area: art;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 1000px) {
}

/* Content */

.App-artwork-media {
  grid-area: image;
  margin: auto;
  width: 100%;
  flex-basis: 100%;
  background-color: whitesmoke;
}

.App-artwork-poem {
  grid-area: poem;
  width: 30em;
  margin: auto;
  width: 100%;
  flex-basis: 100%;
  display: flex;
  align-items: center;
}

.App-artwork-poem > pre {
  white-space: pre-wrap;
  font-family: inherit;
}

@media only screen and (min-width: 1000px) {
  .App-artwork-media {
    flex-basis: 50%;
  }

  .App-artwork-poem {
    flex-basis: 50%;
  }
}
